{{blok._editable}}
<div class="teaser">
  <div class="teaser__content">
    {% include 'logo' %}
    
    <p>{{blok.tagline}}</p>
    <ul class="teaser__social_list">
      <li class="teaser__social_item"><a href="https://www.meetup.com/stahlstadt-js/">Meetup</a></li>
      <li class="teaser__social_item"><a href="https://twitter.com/stahlstadtjs">Twitter</a></li>
      <li class="teaser__social_item"><a href="https://www.facebook.com/stahlstadtjs/">Facebook</a></li>
    </ul>
    
  </div>
</div>