.logo {
  display: block;
  margin: 0 auto;
  background: $brand-color;
  border: 3px solid #000;
  svg {
    width: 280px;
    height: 280px;
    max-height: 90vw;
    max-width: 90vw;
    display: block;
  }
}

.logo:after {
  content: "";
  display: block;
}